@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Light.eot');
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato/Lato-Light.woff2') format('woff2'),
        url('../fonts/lato/Lato-Light.woff') format('woff'),
        url('../fonts/lato/Lato-Light.ttf') format('truetype'),
        url('../fonts/lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Light.eot');
    src: url('../fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Light.woff') format('woff'),
        url('../fonts/poppins/Poppins-Light.ttf') format('truetype'),
        url('../fonts/poppins/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

