.background-img{
    background-image: url(../img/Group\ 5.jpg);
    background-repeat: no-repeat;
    height: 900px;
    background-position: left top;
    background-size: cover;
    position: relative;
}
.flex-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.flex-box1{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.title3{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Lato';
    color: #FFFFFF;
    font-size: 100px;
}
.nav-li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 70.3px;
}
.container1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
}
.nav-a{
    padding-right: 31px;
    font-family: 'Poppins';
    font-weight: 500px;
    font-size: 12px;
}
.title1{
    margin:51px 607.4px 0 67px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 28px;
    color: #D9F0FF;
}
a{
    color:#D9F0FF;
}
/* Section1 */
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left-block{
    height: 601.44px;
    background-color: #FFFFFF;
    
}
.right-block{
    height: 601.44px;

}
.left-title{
    font-family: 'Lato';
    font-size: 50px;
    line-height: 50px;
}
.left-title1{
    width: 468px;
    padding-top: 90px;
    padding-bottom: 24px;
    font-weight: 100;
}
.left-pa{
    width: 457px;
    padding-bottom: 64px;
}
.left-p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
.projects{
    width: 307px;
    border-radius: 36px;
    background-color: #325DFF;
    height: 72px;
}
.div-title{
    padding: 27px;
    font-size: 14px;
    font-family: 'Lato';
    color: #FFFFFF;
    text-align: center;
    word-spacing: 10px;
}
.p{
    width: 498px;
    margin: 0 auto;
}
/* section2 */
.section2-title{
    margin: 0 auto;
    width: 784px;
}
.section2-title1{
    padding: 76.6px 0 22px 0;
    text-align: center;
    font-family: 'Lato';
    font-size: 35px;
    font-weight: 500;
}
.section2-p1{
    text-align: center;
    padding-bottom: 9px;
    font-family: 'Poppins';
    font-size: 16px;

}
.section2-p2{
    text-align: center;
    padding-bottom: 64px;
    font-family: 'Poppins';
    font-size: 16px;

}
section{
    background-color: #FAFAFA;
}
.top-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.box{
    width: 373px;
    height: 378px;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center;
    align-items: center; */

}
.logo{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #325DFF;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 27px;

}
.content{
    width: 252px;
    margin: 0 auto;
}
.box-title{
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    margin-bottom: 9px;
    font-weight: 600;
}
.box-p{
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 20px;
    font-weight: 100;
}
.bottom-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 119px;
}
body{
    background-color: #FAFAFA;
}