.background-img {
    background-image: url("../img/Group5.jpg");
    background-repeat: no-repeat;
    height: 900px;
    background-position: left top;
    background-size: cover;
    position: relative;
}
.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.flex-box1 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.title3 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Lato;
    color: #fff;
    font-size: 100px;
}
.nav-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70.3px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}
.nav-a {
    margin-right: 31px;
    font-family: Poppins;
    font-weight: 500px;
    font-size: 12px;
}
.title1 {
    margin-top: 51px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    color: #d9f0ff;
}
a {
    color: #d9f0ff;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.left-block {
    height: 601.44px;
    background-color: #fff;
}
.right-block {
    background-image: url("../img/Rectangle\ 2.jpg");
    height: 601.44px;
    max-width: 641px;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: cover;
    
}
.left-title {
    font-family: Lato;
    font-size: 50px;
    line-height: 50px;
}
.left-title1 {
    max-width: 468px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 24px;
    font-weight: 100;
}
.left-pa {
    max-width: 457px;
    width: 100%;
    padding-bottom: 64px;
}
.left-p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}
.projects {
    max-width: 307px;
    width: 100%;
    border-radius: 36px;
    background-color: #325dff;
    height: 72px;
}
.div-title {
    padding: 27px;
    font-size: 14px;
    font-family: Lato;
    color: #fff;
    text-align: center;
    word-spacing: 10px;
}
.p {
    max-width: 498px;
    width: 100%;
    margin: 0 auto;
}
.section2-title {
    margin: 0 auto;
    max-width: 784px;
    width: 100%;
}
.section2-title1 {
    padding: 76.6px 0 22px 0;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-weight: 500;
}
.section2-p1 {
    text-align: center;
    padding-bottom: 9px;
    font-family: Poppins;
    font-size: 16px;
}
.section2-p2 {
    text-align: center;
    padding-bottom: 64px;
    font-family: Poppins;
    font-size: 16px;
}
section {
    background-color: #fafafa;
}
.top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.box {
    max-width: 373px;
    width: 100%;
    height: 378px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo {
    max-width: 88px;
    width: 100%;
    height: 88px;
    border-radius: 50%;
    background-color: #325dff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 27px;
}
.content {
    max-width: 252px;
    width: 100%;
    margin: 0 auto;
}
.box-title {
    font-size: 18px;
    font-family: Lato;
    text-align: center;
    margin-bottom: 9px;
    font-weight: 600;
}
.box-p {
    font-size: 16px;
    font-family: Poppins;
    line-height: 20px;
    font-weight: 100;
}
.bottom-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 119px;
}
body {
    background-color: #fafafa;
}
.nav-a:last-child{
    margin-right: 0;
}